body {
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    justify-content: flex-start;
    padding: 10px 5vw;
}

.box1{
    width: 23%;
    margin: 50px 0px;
    background-color: rgb(241, 239, 239);
    /* padding: 60px 20px; */
    /* border: 1px solid black; */
    padding: 20px 10px;
    box-shadow: rgb(212, 210, 210) 1px 1px 2px 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}